.post {
  background: var(--gray-800);
  border-radius: 8px;
  padding: 2.5rem;

  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .author {
      gap: 1rem;
      display: flex;
      align-items: center;

      .authorInfo {
        display: flex;
        flex-direction: column;

        strong {
          line-height: 1.6;
          color: var(--gray-100);
        }

        span {
          line-height: 1.6;
          font-size: 0.875rem;
          color: var(--gray-400);
        }
      }
    }

    time {
      font-size: 0.875rem;
      color: var(--gray-400);
    }
  }

  & + .post {
    margin-top: 2rem;
  }

  .content {
    line-height: 1.6;
    margin-top: 1.5rem;
    color: var(--gray-300);

    p {
      margin-top: 1rem;
    }

    a {
      font-weight: bold;
      text-decoration: none;
      transition: color 0.2s;
      color: var(--green-500);

      &:hover {
        color: var(--green-300);
      }
    }
  }

  .commentList {
    margin-top: 2rem;
  }
}